@page "/services/create"
<h3>Create Service</h3>

<Roadmap CurrentStep="@this.currentProccessStep"/>

<MudItem Class="d-flex flex-column justify-content-center align-items-center">
    @switch (this.currentProccessStep)
    {
        case 1:
            <OverviewCreateService IncreaseProccessStep="this.IncreaseProccessStep" GetServiceId="this.GetServiceId" />
            break;
        case 2:
            <Requirements IncreaseProccessStep="this.IncreaseProccessStep" ServiceId="this.serviceId" />
            break;
        case 3:
            <Pricing IncreaseProccessStep="this.IncreaseProccessStep" ServiceId="this.serviceId" />
            break;
        case 4:
             <Gallery IncreaseProccessStep="this.IncreaseProccessStep" ServiceId="this.serviceId" />
            break;
        case 5:
            <PublishService IncreaseProccessStep="this.IncreaseProccessStep" ServiceId="this.serviceId" />
            break;
    }
</MudItem>

