@page "/profile"
<style>
    .container {
        display: flex;
        padding: 1rem;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
</style>
<h3>Profile</h3>

<div class="container">
    <p class="flex-grow-1">Create your service and start making money</p>
    <a class="btn btn-success d-md-inline" href="createService">Create Service</a>
</div>
