/*@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');*/

.appbar{
    padding: 1px;
    background: #fe9c00 !important;
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}
